{% extends 'base.html.twig' %}

{% block pageTitle %}<h1 class="h3 mb-3 font-weight-bold">S'incrire</h1>{% endblock %}

{% block content %}
    <div class="container">
        <p>
            {% for flashError in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}

            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit" class="btn">Register</button>
            {{ form_end(registrationForm) }}
        </p>
    </div>
{% endblock %}
