{% extends 'layout.html.twig' %}

{% block pageTitle %}<h1>Inscription</h1>{% endblock %}

{% block content %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.lastName, {
            label: 'Votre nom : '
        }) }}
        {{ form_row(registrationForm.firstName, {
            label: 'Votre prénom : '
        }) }}
        {{ form_row(registrationForm.email, {
            label: 'Votre email : '
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe :'
        }) }}

        <button type="submit" class="btn">S'inscrire !</button>
    {{ form_end(registrationForm) }}
{% endblock %}
