{% extends 'layout.html.twig' %}

{% block pageTitle %}<h1>{{tricks.name}}</h1>{% endblock %}

{% block content %}
      <div class="container">
        <article>
            <p>
                {{tricks.description}}
            </p>
        </article>
      </div>

      <div>
        <p>
            <a href="{{path('app_trickEdit',{id: tricks.id})}}">Modifier la figure</a> |
            <a href="#" onclick="event.preventDefault(); confirm('Etes-vous sûre de vouloir supprimer cette figure ?') &&
            document.getElementById('js-trick-delete-form').submit();">Supprimer la figure</a>
        </p>
        <p>
            <a href="{{path('app_index')}}">Retourner à la page d'accueil</a>
        </p>

        <form id="js-trick-delete-form" action="{{path('app_trickDelete',{id: tricks.id})}}" method="POST" style="display: none;">
            <input type="hidden" name="csrf_token" value="{{csrf_token('trickDeleting_' ~ tricks.id)}}" />
            <input type="hidden" name="method" value="DELETE" />
        </form>
    </div>
{% endblock %}
{% block pageFooter %}{% endblock %}
