{% extends 'layout.html.twig' %}

{% block pageTitle %}<h1>Modifier la figure "{{tricks.name}}" !</h1>{% endblock %}

{% block content %}
    <div class="container">
        <article>
            <p>
                {{form_start(form)}}
                    {{form_widget(form)}}

                    <input type="submit" value="Modifier votre figure" />
                {{form_end(form)}}
            </p>
        </article>

        <p>
            <a href="{{path('app_index')}}">Retourner à la page d'accueil</a>
        </p>
    </div>
{% endblock %}

{% block pageFooter %}{% endblock %}
